* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.row {
    width: 1140px;
    margin: 0 auto;
}


/* HEADER SECTION */

.header {
    background-image: linear-gradient(rgba(22, 22, 22, 0.705), rgba(22, 22, 22, 0.705)), url("imagecontent/hero.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.hero-text {
    width: 1140px;
    position: absolute;
    top: 40%;
    left: 10%;
}

.logo-white {
    margin-top: 15px;
    width: auto;
    height: 100px;
}

.logo-black { 
    display: none;
    margin: 7px 0;
    width: auto;
    height: 40px;
    float: left;
 }

/* NAVIGATION */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 35px;
}

.nav-list {
    display: inline-block;
    margin-left: 15px;
    
}

.nav-list a:link,
.nav-list a:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70%;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.nav-list a:hover,
.nav-list a:active {
    padding-bottom: 4px;
    border-bottom: 2px solid rgb(255, 72, 0);
}

/* STICKY NAVIGATION */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(250, 250, 250);
    z-index: 1;
   transform: 0 2px 2px rgba(255, 255, 255, 0.938);
}

.sticky .logo-white { display: none; }

.sticky .logo-black { display: block; }

.sticky .main-nav { margin-top: 10px; }

.sticky .nav-list {
    margin-left: 18px;
    
}

.sticky .nav-list a:link,
.sticky .nav-list a:visited {
    color: #555;
    padding-bottom: 19px;
}

/* HEADER BUTTON */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 6px 0 0;
    border-radius: 200px;
    font-size: 20px;
    font-weight: 400px;
    text-decoration: none;
    border: 1px solid rgb(255, 72, 0);
    transition: background-color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: rgb(255, 72, 0);
    color: white;
}

.btn-outline:link,
.btn-outline:visited {
    color: rgb(255, 72, 0);
}

.btn-full:hover,
.btn-full:active {
    background-color: rgb(172, 51, 4);
}

.btn-outline:hover,
.btn-outline:active {
    border: 1px solid #fff;
    background-color: rgb(172, 51, 4);
    color: white;
}

/* HEADINGS */

h1, h2 {
    letter-spacing: 1px;
    word-spacing: 3px;
    text-transform: uppercase;
}

h1 {
    font-size: 240%;    
    color: white;    
    margin-bottom: 12px;
}

h2 {
    font-weight: normal;
    font-size: 1.5rem;
    margin: 30px 0 20px;
    text-align: center;
}

h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 2px 0 10px;
}

h2:after {
    width: 100px;
    margin: 20px auto 10px;
    display: block;
    height: 2px;
    background-color: rgb(255, 72, 0);
    content: "";
}


/* FEATURES SECTION */

.long-copy {
    width: 70%;
    margin: 2px auto 10px;
    font-size: 0.95rem;
    line-height: 1.2;
}

.box {
    padding: 10px;
    margin-bottom: 50px;
}

.box p {
    font-size: 0.9rem;
    line-height: 1.4;
    text-align: left;
    padding: 4px;
    text-align: justify;
}

.features-icon {
    margin: 20px 0;
    color: rgb(255, 72, 0);
    font-size: 2.5em;
}

/* MEALS SECTION */

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    width: 25%;
    float: left;
}

.meals {
    width: 100%;
    margin: 0;
    overflow: hidden;
    opacity: 0.8;
}

.meals img {
    width: 100%;
    height: auto;
    transform: scale(1.4);
    transition: transform 0.3s;
}

.meals img:hover {
    transform: scale(1.03);
    opacity: 1;
}

/* STEPS SECTION */

.steps-section {
    background-color: rgb(233, 233, 233);
}

.step-box:first-child {
    text-align: right;
    padding-right: 15px;
    margin-top: 40px;
}

.step-box:last-child {
    padding-left: 15px;
    margin-top: 70px;
}

.iphone {
    width: 40%;
}

.step-div {
    margin-bottom: 60px;
    padding: 3px;
}

.step-div div {
    height: 50px;
    width: 50px;
    border: 2px solid rgb(255, 72, 0);
    color:rgb(255, 72, 0);
    border-radius: 100px;
    float: left;
    margin-right: 20px;
    font-size: 1.5rem;
    text-align: center;
    padding: 3px;
}

.step-box a {
    margin-right: 10px;
}

/* CITIES SECTION */

.city-box {
    margin-top: 50px;
}

.citibox {
    width: 100%;
    margin: 0;
}

.citibox img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.cities-div {
    margin: 20px 10px 10px 0px;
    font-size: 0.85rem;
}

.cities-icon {
    margin-right: 10px;
    color:rgb(255, 72, 0);
}

.cities-div a:link,
.cities-div a:visited {
    text-decoration: none;
    color:rgb(255, 72, 0);
}

.cities-div a:hover,
.cities-div a:active {
    color: black;
}

/* TESTIMONIAL SECTION */

.testimonial-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)), url("imagecontent/back-customers.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.t-quote {
    padding: 2%;
    line-height: 1.5;
    font-size: 0.95rem;
    position: relative;
    margin-top: 40px;
}

.t-quote::before {
    display: block;
    content:" \201C";
    font-size: 3rem;
    position: absolute;
    top: -35px;
}

cite {
    display: block;
    margin-top: 25px;
    font-size: 0.8rem;
    
}

cite img {
    border-radius: 50%;
    margin-right: 15px;
    height: 50px;
    vertical-align: middle;
}

/* PRICING AND SIGN-UP SECTION */

.pricingplan {
    background-color: rgba(233, 233, 233, 0.849);
    word-spacing: 3px;
}

.pricing-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(255, 221, 207);
}

.pricing-head {
    padding: 20px 0 15px 30px;
    background-color: rgb(245, 245, 245);
    border-bottom: 3px solid  rgb(245, 245, 245);
}

.p001 {
    font-size: 3.5rem;
}

.p002 {
    color:rgb(255, 72, 0);
}

.pricing-body {
    padding-top: 30px;
    border-bottom: 3px solid  rgba(245, 245, 245, 0.849);
}

.pricing-icon {
    margin: 0 10px 20px 30px;
    color:rgb(255, 72, 0);
}

.pricing-foot {
    text-align: center;
    padding: 20px 0px;
}

.pricing-foot a {
    width: 200px;
}

/* CONTACT SECTION */

.form {
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

.form:focus {
    outline: none;
}

.form-ul {
    list-style: none;
    padding: 10px;
}

.form-li {
    margin: 15px 0;
}

.form-div {
    width: 110px;
    margin-left: 145px;
}

.form-div a {
    width: 100%;
}

label {
    display: inline-block;
    width: 110px;
}

input[type=text],input[type=email], textarea, select {
    font-size: .9rem;
    padding: 7px;
    width: 60%;
    height: 2rem;
    margin-left: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type=checkbox] {
    height: 1rem;
    width: 1rem;
    margin-left: 30px;
}

.footer {
    background-color: rgb(70, 70, 70);
    color: rgb(216, 216, 216);
    font-size: 0.85rem;
    padding: 30px 0 50px;
}

.f-ul {
    list-style: none;
}

.f-li {
    float: left;
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 0.6rem;
}

.f-ul-1 {
    list-style: none;
}

.f-li-1 {
    float: right;
    display: block;
    margin-left: 15px;
    color: rgb(216, 216, 216);
}